<ul>
{% for post in collections.post | reverse %}
  <li>
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time  datetime="{{ post.date }}">{{ post.date }}</time>
  </li>
{% endfor %}
</ul>
