<ul>
  <li title="github:tarnas14"><a href="{{ data.github   }}" class="icon brands fa-github"><span class="label">Github</span></a></li>
  <li title="linkedin:Mateusz Tarnaski"><a href="https://www.linkedin.com/in/tarnas14/" class="icon brands fa-linkedin"><span class="label">Linkedin</a></li>
  <li title="facebook:tarnas14"><a href="{{ data.facebook }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
  <!-- <li title="insta:tarnas14"><a href="{{ data.instagram }}" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li> -->
</ul>
