---
layout : layouts/narrow.njk

---

<article>
  <header>
    <h1>{{ title }}</h1>
    <time datetime="{{ date | htmlDateISOString }}">{{ date | htmlDateString }}</time>
  </header>
  <section class="tags">
    {% for tag in tags %}
      {% include 'tag.njk' %}
    {% endfor %}
  </section>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <section id="meta">
      written in: <time>{{ writingTime }}</time><br/>
      author: {{ author }}
    </section>
    <a href="/blog/" id="all-posts">all posts</a>
  </footer>
</article>

