---
layout : layouts/narrow.njk

---

<article>
  <header>
    <h1>{{ title }} {%if series %}<a href="#series" class="series">(series)</a>{% endif %}</h1>
    <time datetime="{{ date | htmlDateISOString }}">{{ date | htmlDateString }}</time>
  </header>
  <section class="tags">
    {% for tag in tags %}
      {% include 'tag.njk' %}
    {% endfor %}
  </section>
  <main>
    {{ content | safe }}
  </main>
  <aside id="meta">
    written in: <time>{{ writingTime }}</time><br/>
    author: {{ author }}
    <nav class="socials">
      {% include 'socials.njk' %}
    </nav>
  </aside>
  {% if series %}
    <section class="series" id="series">
      <h2>This post is part of a series!</h2>
      {% include 'serieslist.njk' %}
    </section>
  {% endif %}
  <footer>
    <a href="/blog/" id="all-posts">all posts</a>
  </footer>
</article>

