---
layout : layouts/narrow.njk

---

<article>
  <header>
    <h1>{{ title }}</h1>
    <time datetime="{{ date | htmlDateISOString }}">{{ date | htmlDateString }}</time>
  </header>
  <section class="tags">
    {% for tag in tags %}
      {% include 'tag.njk' %}
    {% endfor %}
  </section>
  <main>
    {{ content | safe }}
  </main>
</article>
