---
layout : layouts/narrow.njk
permalink: /blog/

---

<ul class="post-list">
{% for post in collections.post | reverse %}
  <li>
    <h1>
    <a href="{{ post.url | url }}" style="font-size: 1.2em">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </h1>
    <p>
      {{ post.data.description }}
    </p>
  </li>
{% endfor %}
</ul>
