---
layout : layouts/base.njk

---

<div id="wrapper">

  <div id="main">

    <!-- Header -->
    <header id="header">
      <img src="/images/kon.png" id="landing-photo">
      <h1>
        {{ data.app_title }}
      </h1>
      <p>
        Mateusz Tarnaski | Tarnas - software developer
      </p>
      <p>
        <span style="text-decoration: line-through">One day there will be</span> I have a <a href="/blog/" class="accented">blog here.</a><br />Maybe project demos.<br/>Definitely snowboarding content.<br/>It will be awesome.
      </p>
      <nav>
        <ul>
          <li><a href="{{ data.github   }}" class="icon brands fa-github"><span class="label">Github</span></a></li>
          <li><a href="{{ data.facebook }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="{{ data.instagram }}" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        </ul>
      </nav>
    </header>

  </div>

  {% include 'footer.njk' %}
</div>
