---
layout : layouts/base.njk

---

<main id="main">

    <!-- Header -->
    <header id="header">
      <img src="/images/kon.png" id="landing-photo">
      <h1>
        {{ data.app_title }}
      </h1>
      <p>
        Mateusz Tarnaski | Tarnas - web software developer
        <br/>
        (nodejs, react, TypeScript, .net core)
      </p>
      <p>
        <span style="text-decoration: line-through">One day</span> there <span style="text-decoration: line-through">will be</span> is a <a href="/blog/" class="accented">blog here.</a><br /><br /><span style="text-decoration: line-through">Maybe project demos?</span><br/>Check out <a href="https://paxmagnifica.com">Pax Magnifica</a>, Twilight Imperium 4 companion app
      </p>
      <nav class="socials animated">
        {% include 'socials.njk' %}
      </nav>
    </header>

  {% include 'footer.njk' %}
</main>
